@import "flexbox" ;

/* Reset CSS. This resets everything for control over the styling */
/** This comes from http://www.cssreset.com/ see Eric Meyer’s “Reset CSS” 2.0 **/
@import url(../css/reset.css);
@import url('http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic');
*,
*:before,
*:after {
		box-sizing: border-box;
}
body {
	background-color: #cdcdcd;
	font-family: 'Arial', sans-serif;
	font-weight: normal;;
	font-size: 100%;

}

/* Colour palette with shades */
/* Uses SASS colour functions */
/* The violet */
$primary-colour: #52263C ; 
$primary-colour-light: lighten($primary-colour, 10) ;
$primary-colour-dark: darken($primary-colour, 10) ;
/* The green */
$secondary-colour: #0E600E ; 
$secondary-colour-light: lighten($secondary-colour, 10) ;
$secondary-colour-dark: darken($secondary-colour, 10) ;
/* The skin */
$third-colour: #E1B026 ;
$third-colour-light: lighten($third-colour, 10) ;
$third-colour-dark: darken($third-colour, 10) ;
/* Orange */
$orange-colour: #F7041E ;
$orange-colour-light: lighten($orange-colour, 10) ;
$orange-colour-dark: darken($orange-colour, 10) ;
$base-font-color: #323232;


/** Transitions **/
/* Mixin to apply a transtion to some element's properties */
/* Takes a list of transitions. Each can contain the all arguments to CSS3 transition property. It sets up browser prefixes */

/* Uses defaults shown */
@mixin transition($property: 'background-color', $duration: '500ms', $function: 'ease', $delay: 0) {

}
@mixin one-transition($property: background-color, $duration: 500ms, $function: ease, $delay: 0) {
	-webkit-transition: $property $duration $function $delay ;
    -moz-transition: 	$property $duration $function $delay ;
    -o-transition: 		$property $duration $function $delay ;
	transition: 		$property $duration $function $delay ;

}

/* Typography set up */
h1, h2, h3, h4, h5, h6 { font-family: 'Arial Narrow', 'Arial', sans-serif; font-weight: normal;  line-height: 1.2; color: $base-font-color; margin-bottom: 0.317rem; }

h1 { font-size: 2.369rem; margin-bottom: 0.317rem; margin-top: 1rem; } /* 50.517px */
h2 { font-size: 1.777rem; margin-bottom: 0.317rem; margin-top: 0.75rem; } /* 37.897px	 */
h3 { font-size: 1.333rem; margin-bottom: 0.317rem; margin-top: 0.563rem;}	/* 28.43px */
h4 { font-size: 1rem; font-weight: bold; margin-top: 0.563rem;}	/* 21.328px */
h5 { font-size: 1rem; color: #898989; margin-top: 0.563rem;}	/* 16px */
h6 { font-size: 1rem; font-style: italic; margin-top: 0.563rem;}	/* 16px */
p, ul, li, ol { font-size: 1rem; line-height: 1.4; color: $base-font-color; margin-bottom: 0.563rem;}
p { margin-bottom: 0.75rem }
.text-intro { font-size: 1.33rem; }
@media screen and (min-width: 601px) {
	h1 { font-size: 3.157rem; } /* 50.517px */
	h2 { font-size: 2.369rem;} /* 37.897px	 */
	h3 { font-size: 1.777rem;}	/* 28.43px */
	h4 { font-size: 1.333rem; font-weight: normal;}	/* 21.328px */
	h5 {  font-weight: bold; color: $base-font-color}	/* 16px */

	p, ul, li, ol { font-size: 1rem; line-height: 1.5}	
}


img {max-width: 100%; width: 100%;}

strong { font-weight: bold; }

/* Used for the Threads name */
.threads-name { font-family: 'Arial Black'; }

/*Forms */
.form-error { 
	font-size: 0.85em; font-weight: bold; margin-bottom: 8px ; visibility: hidden;  
	line-height: 0;
	&.visible {
		visibility: visible; line-height: 1.3; margin-bottom: 1rem;
	}
}

form {
	label { display: block; color: #787878; }
	input[type="text"] { border-radius: 5px; }
	input[type="text"], select {width: 100%;  height: 28px; margin-top: 8px ; margin-right: 8px ; padding: 0.35rem 0.2rem; }
		label {margin-bottom: 1rem;
				label { margin-bottom: 0}
		}
	textarea { 
		width: 100%; min-height: 150px;
		margin-top: 8px ; margin-right: 8px ;  
		border-radius: 5px;
	}
	input[type="submit"] { 

			border: none; background-color: $secondary-colour;  
			padding: 10px 15px; color: white;  border-radius: 5px;
			@include one-transition($property: background-color) ;
			&:hover { 
				background-color: black;  
				cursor: pointer
			}

		}
		.submit-or-cancel { text-align: right }
		input[type="reset"] { 
			border: none; background-color: #ababab;  
			padding: 10px 15px; color: white;  border-radius: 5px;
			@include one-transition($property: background-color) ;
			&:hover { 
				background-color: #787878;  
				cursor: pointer
			}

		}
}
@media screen and (min-width:768px) {
	form {
		input[type="text"], select {max-width: 300px;}
	}
}
/* Flex box layout */
/* This wraps around everything */
.main-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100% ;
}
/* each .container- class creates a new fex layout context */
/* Max width is 72em/1200px */
[class*="container-"] { 
	/* Common styling for top-level containers */
	padding-top: 25px; padding-bottom: 25px; display: flex; max-width: 72rem; background-color: white; 
	width: 100%;
	flex-direction: column;
	/* For nested containers */
	[class*="container-"] { 
		padding-top: 0; padding-bottom: 0;
		/* For the main nav */
		&.logo { padding: 15px; }
		&.meta { padding: 10px }
		&.main-nav { padding-top: 25px; }

	}
	/* Some padding options */
	&.no-padding { padding: 0; }
	&.no-padding-top { padding-top: 0; }
	&.no-padding-bottom { padding-bottom: 0; }
}

@media screen and (min-width: 768px) {
	[class*="container-"] { 
		[class*="container-"] { 
			&.logo { padding-top: 10px; }
			&.meta { padding: 10px 15px 0px 0px ;}
			&.main-nav { padding-top: 0px }
		}
	}
}

/* Containers with horizontal layout ie contents are aligned along x axis */


/* Flex containers with vertical layout ie contents are aligned along y axis */
.container-column { 
	flex-direction: column;  
}
/* These establish colum widths to build the layout grid */
/* "span-n" refers to the number of cols each spans in a 12 col grid layout */
/* Initial value is 100% for mobile where all are stacked */ 
[class*="span-"] { width: 100%; padding-left: 15px; padding-right: 15px; }
/* Widths for > tablet portrait veiwports  */
@media screen and (min-width: 768px ) {
		.span-12 { width: 100%; }
		.span-10 { width: 83.33333333333333%; }
		.span-8 { width: 66.66666666666667%; }
		.span-6 { width: 50%; }	
		.span-5 { width: 41.66666666666667%; }	
		.span-4 { width: 33.33%; }
		.span-3 { width: 25%; }
		.span-2 { width: 16.66%; }
		.span-1 { width: 8.333333333333333%; }
		.container-row {  
			flex-direction: row; 
			/* Can only be used in the context of flex-direction: row. For mulitline containers. */
			&.wrap { flex-wrap: wrap; }
		}
}





/* Does a box shadow */
@mixin do-box-shadow() {
	-moz-box-shadow:    1px 1px 5px 3px #999;
  	-webkit-box-shadow: 1px 1px 5px 3px #999;
  	box-shadow:         1px 1px 5px 3px #999;	
}

/* buttons */
button { 
	border: none; border-radius: 5px; background-color: $secondary-colour; color: white; padding: 12px 20px;  font-size: 1rem;  
	position: relative; text-align: center; display: block;
	a  { color: inherit ; text-decoration: none; font-weight: normal;}
	&:after { position: absolute; z-index: 10; height: 82.5%; width: 95%; content: ""; display: inline-block; border: 1px dashed $third-colour; top: 8%; left: 2.5%; border-radius: 5px; 
		
		@include one-transition($property: border-color, $duration: 1ms) ;
		@include one-transition($property: color, $duration: 1ms) ;
	}

	&:hover { 
		&:after { border-color: $third-colour-light; }
		background-color: $secondary-colour-dark; cursor: pointer; 
	}

	@include one-transition($duration: 200ms) ;
}

/* Links */
a { 
	text-decoration: none; font-weight: bold;
	color: $primary-colour;
	&:hover, &:focus { text-decoration: underline; color: $primary-colour-dark; }
	@include one-transition($property: color) ;
}
/* Lists */
.inline-list {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start ;
	align-items: center;
	margin-top: 0px;
	li { 
		margin-top: 0px;
		display: flex; 
		a {padding: 0}
	}
}



/******************/
/** Page styling **/
/******************/


/* Desktop header */
.main-header {
	border-bottom: 1px dashed $third-colour ;
}
.logo {
		padding-top: 15px ;	
		align-items: left;
		img {max-width: 170px;}
		.mobile-hamburger { 
			display: block; position: absolute; right: 10px; top: 30px;
			font-size: 0.75rem;
			background: url(../img/hamburger_icon.png) no-repeat center 10px ;
			height: 55px; width: 50px ;
			padding-top: 35px ;
			text-align: center;
			border: 2px solid $primary-colour ;
			&:hover, &:focus {
				color: white;
				background: url(../img/hamburger_icon_hover.png) no-repeat center 10px $primary-colour ;

			}
		}
}
.meta {
	
	background-color: #dedede; 

	.inline-list {
		justify-content: center;	
		margin-bottom: 0;
	}
	li { 
		margin-top: 0; margin-bottom: 0;
		display: flex ;
		height: 35px; width: 50%;
		font-size: 0.75rem;
		a { 
			padding: 0 ; display: flex;  width: 100%; height: 100%; align-items: center; justify-content: center;

		}
		&:first-child a {padding-right: 25px; justify-content: flex-end;}
	}
	.register { 
		padding-left: 0; padding-right: 0; 
		button {
			font-size: inherit;
			background-color: $third-colour;
			&:after { border-color: $secondary-colour; }
			&:hover { background-color: $third-colour-dark; }

		}
	}
}
/* Desktop main nav */
.main-nav {
	justify-content: flex-end;
	display: none;
	.inline-list {
		align-self: flex-end;
		justify-content: center;
		flex-direction: column;
		margin-bottom: 0;
	}	
	li { 
		display: flex ;
		border: 1px solid $primary-colour; border-radius: 5px; 
		height: 35px; 
		margin: -1px 5px auto; padding: 0 0px; min-width: 100% ;
		a { 
			padding: 0 ; display: flex;  width: 100%; height: 100%; align-items: center; justify-content: center;
			&:hover, &:focus { 
				background-color: $secondary-colour; 
		
				color: white ;
			}
			@include one-transition($property: background-color) ;
				@include one-transition($property: color) ;
		}
		&:hover { 		border-color: $secondary-colour;   }
	}
}

/** Page content **/
/* Hompeage */
body.homepage { background: url(../img/home-bg-image.jpg) no-repeat center 0 $primary-colour; }
.homepage .container-column { background-color: transparent;}

.homepage {
	[class*="container-"] { background-color: transparent; }
	.mobile-hamburger { display: none; }
	.meta {
		background-color: $primary-colour;
		a { 
			color: white; 
			
		} 
	} 
	.welcome {
		width: 100%;
		align-self: center;
		padding: 25px 30px 30px;
		background-color: rgba($secondary-colour, 0.5) ;
		h1 {margin-top: 0; margin-bottom: 0.563rem;}
		h1, p {color: white ;}
	}
	.home-nav-row { padding-top: 15px; }
	.home-nav {
		justify-content: center;
		.inline-list {
			display: flex;
			flex-direction: column;
			justify-content: center;
			li {
				border: 2px solid $primary-colour;
				width: 100% ;
				justify-content: center;
				border-radius: 10px ;
				margin-bottom: 0.317rem;
				a { 
					font-family: 'Arial Narrow'; font-size: 1.333rem; color: white; font-weight: normal; border-radius: 10px ;
					display: inline-block; width: 100%; text-align: center;
					padding: 5px;
					background-color: rgba($base-font-color, 0.15);
					&:hover, &:focus { background-color: rgba(white, 0.5); color: $primary-colour; }
					@include one-transition($property: background-color) ;
				}
			}
		}
	}
}
@media screen and (min-width: 601px ) {
	.homepage {
		.meta {
			background-color: transparent;
		} 
		.welcome {
			margin-top: 25px;
			width: 45%;
		}
		.home-nav {
			justify-content: center;
			.inline-list {
				flex-direction: row;
				li {
					border: 2px solid $primary-colour;
					width: auto ;
					margin-left: 2%;
					&:first-child { margin-left: 0; }
					a { padding: 5px 50px ; }
				}

			}
			margin-bottom: 25px;
		}
	}
}

/* About page */
.textual-content { 
	/* do this for readability */
	p { max-width: 680px }
	
}
@media screen and (min-width: 768px) {
	.textual-content { 
		margin-left: 16.66% ;
	}			
}

/* Product page */
.products {
	justify-content: center;
	.product { 
		padding-bottom: 35px ;
		align-self: center; 
		padding-left: 0; padding-right: 0;
		.product-image {
			> div {
				background-color: #dedede ; width: 100%;
				margin: 0 auto;	
			}
			overflow: hidden;
			display: flex; 
			flex-flow: column;
			img {  display: block; width: auto; height: auto ; margin: 0 auto; max-height: 300px}
			.open-image-modal { align-self: flex-end; font-weight: normal; margin-top: 10px; font-size: 0.85rem; }
		}
		.product-info {
			padding-top: 15px ; padding-bottom: 15px;
			h2 {margin-top: 0;}
			h2, p, select {margin-bottom: 0.75rem;}
			select { 
					padding: 0.317rem 0.134rem; font-size: 1rem; color: #454545; 
			}
			.prod-details {
				padding: 0.317rem ;
				background-color: #dedede ;
				p {margin-bottom: 0.238rem;}
				margin-bottom: 0.317rem;
				display: none ;
			}
			button { 
				margin-top: auto;  
				 background-color: $orange-colour;
				 &:after { border-color:white }
				 &:hover, &:focus { background-color: $orange-colour-dark; color: white; }
			}
		}


	}
}

/* Contact page form */
#contact-form {
	display: flex;
	flex-direction: column;
	width: 100%; 
	input[type="submit"] { align-self: flex-end;} 
}
@media screen and (min-width:768px) {
	#contact-form {
		max-width: 300px;
	}
}
/* Modal window - pops up to show product images, login and registration forms */
.modal-window {
	display: none ;
	&.visible { display:flex; }
	padding: 50px 0;
	position: absolute; top: 0; left: 0;
	width: 100% ;
	background-color: rgba($primary-colour, 0.25) ;
	justify-content: center;
	align-items: center ;
	z-index: 1000;
	.modal-box { 
		background-color: white;
		border-radius: 10px ;
		@include do-box-shadow;
		position: relative;
		padding: 20px;
		display: none;
		form {position: relative; z-index: 5000; padding: 5px 25px }

		h4 { margin-bottom: 1rem; }


		input[type="text"], select { width: 100%;  height: 28px; margin-top: 8px ; margin-right: 8px ;  }
		label {margin-bottom: 1rem;
				label { margin-bottom: 0}
		}

		input[type="radio"] {
			height: auto; display: inline-block; width: auto;
		}
		input[type="checkbox"] {
			height: auto; display: inline-block; width: auto;


		}
		.iama {
			.iam-female{ margin-top: 0.6rem; }
			input[type="radio"] { margin-bottom: 0.5rem;}
			.iam-female{ margin-top: 0.75rem; }
			.iam-mind-your-own-business {margin-bottom: 0.75rem;}
			label { padding-left: 5px; font-size: 95%; }
		}


		input[type="submit"] { 
			border: none; background-color: $secondary-colour;  
			padding: 10px 15px; color: white;  border-radius: 5px;
			@include one-transition($property: background-color) ;
			&:hover { 
				background-color: black;  
				cursor: pointer
			}

		}
		.submit-or-cancel { text-align: right }
		input[type="reset"] { 
			border: none; background-color: #ababab;  
			padding: 10px 15px; color: white;  border-radius: 5px;
			@include one-transition($property: background-color) ;
			&:hover { 
				background-color: #787878;  
				cursor: pointer
			}

		}

		&.visible { display: block; }
		/* Stitching effect */
		&:after {
			content: "";
			width: 95%; height: 95% ;
			top:2.5%; left: 2.5% ;
			border-radius: 10px ;
			position: absolute; z-index: 10; border: 1px dashed #777 ;
		}
	}
	.modal-image { display: none; }
	&.has-image {
		padding: 0 0;
		//.modal-box { display: none;}
		.modal-image { 
			display: block;	
			position: relative; 
			background-color: #232323 ;
			height: 100%;
			padding: 	20% 10% ;

		}
		.close-modal { 
			font-size: 0.85rem;
			position: absolute;
			bottom: 3%; right: 4%;
			color: #efefef; 
		}
	}
	&.open-reg-form {
		.registration-form {
			display: block;

		}
	}
	&.open-login-form {
		.login-form {
			
			
			display: block;
			
		}
	}
}



/* Footer */
.footer {
	border-top: 1px dashed $third-colour ;
	flex-direction: row;
	justify-content: center;
	.social-follow {
		display: inline-block; height: 42px; width: 42px; margin-left: 15px; 
		background: url(../asssets/img/instagram_follow_icon.png) no-repeat center center white;
		border-radius: 50%;
		border: 2px solid $primary-colour ;
		a { display: inline-block;  height: 100%; width: 100% }
		span { margin-left: -999999px;  }
		&:first-child { margin-left: 0 }

		&:hover, &:focus {
			border-color: $secondary-colour;
			background: url(../asssets/img/instagram_follow_hover_icon.png) no-repeat center center $secondary-colour;
		}

		@include one-transition($property: background-color) ;

		&.pinterest {
			background-image: url(../img/pinterest_follow_icon.png) ;
			&:hover, &:focus {
				background-image: url(../img/pinterest_follow_hover_icon.png) ;
			}
		}
		&.tumblr {
			background-image: url(../img/tumblr_follow_icon.png) ;
			&:hover, &:focus {
				background-image: url(../img/tumblr_follow_hover_icon.png) ;
			}
		}
		&.twitter {
			background-image: url(../img/twitter_follow_icon.png) ;
			&:hover, &:focus {
				background-image: url(../img/twitter_follow_hover_icon.png) ;
			}
		}
		&.facebook {
			background-image: url(../img/facebook_follow_icon.png) ;
			&:hover, &:focus {
				background-image: url(../img/facebook_follow_hover_icon.png) ;
			}
		}
	}
	

}
@media screen and (min-width: 451px) {
	.modal-window {

		&.has-image {
			.modal-image {
				padding: 10% 10% ;
			}
		}
	}
}

@media screen and (min-width: 601px) {
	/** Page content **/
	/* Product page */
	.products {

		.product { 
			&.container-row { flex-direction: row; }
			.product-image {
				&.span-6 { width: 50% ; }
				
				//img {width: 65% ;}

			}

			.product-info {
				&.span-6 { width: 50% ; }
				
				padding-top: 15px ; padding-bottom: 15px;

				//h3, p {margin-bottom: 1.777rem;}
				button { 
					margin-top: auto; max-width: 50%; align-self: flex-end; 

				}
			}
		}
	}

}

@media screen and (min-width: 768px) {
	.logo { 

		.mobile-hamburger { display: none; }
	}
	.meta {
		background-color: transparent; 
		justify-content: flex-end;

		.inline-list {

			align-self: flex-start;
			justify-content: flex-end;	
				
		}
		li { 
			width: auto;
			margin-top: 10px;
			&:first-child { 
				margin-right: 30px; 
				a { 
					padding: 0 ; align-items: center; 
				}
			}
			
		 }

	}
	.main-nav {
		display: flex;
		width: 100%;
		.inline-list { flex-direction: row; }
	li { margin: auto 10px; min-width: 15% ; }
	}

	/** Page content **/
	/* Product page */
	.products {

		.product { 

			.product-image {

				//img {width: 65% ;}

			}
			.product-info {
			padding-top: 15px ; padding-bottom: 25px;

			
			button { margin-top: auto; max-width: 50%; align-self: flex-end; }
			}
		}
	}
	.modal-window {

		&.has-image {
			.modal-image {
				padding: 5% 10% ;
			}
		}
	}
	.footer {
		justify-content: flex-start;
	}
}



.col-example { margin-bottom: 1rem; }
/*.col-example img,*/ .col-example p { margin: 5% 0; }
.col-example button { margin-top: auto; }  
.col-example h3 { margin-bottom: 4% }
.col-example button {  }